<!-- move api key to env!!! -->
<!-- <script async src=https://maps.googleapis.com/maps/api/js?key=AIzaSyBdd9Ao-L15MRNxb8xNt8sbvMsTGTRfwLA&callback=initMap></script> -->
<!-- <script src="./controllers/heatmap_controller.js"></script> -->


<div class="container" ng-controller="HeatMapController as vm">
  <div id="map">

  </div>
</div>

<footer class="page-footer light-blue accent-2 center-align">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 offset-l3">
        <a ui-sref="addFeel" class="waves-effect waves-light btn-large white-text" id="addFeelBtn">Add feel</a>
    </div>
  </div>
</footer>
