<link rel="stylesheet" href="../assets/css/home.css">

<nav>
  <div class="nav-wrapper light-blue accent-1">
    <a ui-sref="home" class="brand-logo center">F E E L S M A P</a>
    <ul id="nav-mobile" class="right">
      <li><a ui-sref="login"><i class="material-icons">person</i></a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey darken-1 center-align login">
        <div class="card-content white-text">
          <span class="card-title">Welcome</span>
          <p>Explore how your surroundings impact mood. Contribute by adding your favorite places to relax or avoid.</p>
        </div>
        <div class="card-action">
          <a ui-sref="login" class="waves-effect waves-light btn-large login-button">L O G I N</a>
        </div>
      </div>
    </div>
  </div>
</div>
