body {
  animation: fade 12s linear infinite;
}

@keyframes fade {
  0% {
    background-color: #49a09d;
  }
  50% {
    background-color: #F3A183;
  }
  100% {
    background-color: #49a09d;
  }
}

div.container {
  margin-top: 50px;
}

div.container.feel-container {
  padding-top: 20px;
}

a.login-button {
  border-radius: 50px;
}

#addFeelBtn {
  border-radius: 50px;
  margin-bottom: 20px;
}

#feel-btn {
  border-radius: 50px;
  margin-bottom: 20px;
}


